input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #326589;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2a4f70;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.or-divider:not(:empty)::before {
    margin-right: .25em;
}

.or-divider:not(:empty)::after {
    margin-left: .25em;
}

.or-divider span {
    color: #999;
    font-size: 0.9em;
}

.createAccount {
    width: 100%;
    padding: 10px;
    background-color: #326589;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.signup:hover {
    background-color: #2a4f70;
}